// Place all the styles related to the Navbar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bb-navbar {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  &_link {
    &--logo {
      // flex: 0 1 100%;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 100%;
    }
    display: inline-flex;
    padding: 0 0.5rem;
  }
}